conf/redflows/history.flow
[{"id":"c57d5b13.83edc8","type":"ui_date_picker","z":"939e5ad0.92c238","name":"Date From","label":"select a start date","group":"459dd826.92c2a8","order":1,"width":"4","height":"1","passthru":true,"topic":"startdate","x":319.00001525878906,"y":567.0000305175781,"wires":[["879842ad.aa53"]]},{"id":"8ece0f95.0f341","type":"ui_dropdown","z":"939e5ad0.92c238","name":"server","label":"Server","group":"459dd826.92c2a8","order":4,"width":"6","height":"1","passthru":true,"options":[{"label":"twmserver1","value":"twmserver1","type":"str"},{"label":"btserver8","value":"btserver8","type":"str"},{"label":"btserver7","value":"btserver7","type":"str"}],"payload":"","topic":"server","x":306.0000305175781,"y":453.0000305175781,"wires":[["4bfdea52.595d64"]]},{"id":"371d395d.e36516","type":"ui_dropdown","z":"939e5ad0.92c238","name":"service","label":"Service","group":"459dd826.92c2a8","order":5,"width":"6","height":"1","passthru":true,"options":[{"label":"CPU Load","value":"CPU Load","type":"str"},{"label":"Current User","value":"Current User","type":"str"}],"payload":"","topic":"service","x":313.00001525878906,"y":513.0000305175781,"wires":[["ec8a9f89.fa9f6"]]},{"id":"4bfdea52.595d64","type":"function","z":"939e5ad0.92c238","name":"set server","func":"//var context = this.context().global;\n//context.set('server',msg.payload);\nglobal.set('server', msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":495.00001525878906,"y":453,"wires":[[]]},{"id":"ec8a9f89.fa9f6","type":"function","z":"939e5ad0.92c238","name":"set service","func":"global.set('service', msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":505.00001525878906,"y":512,"wires":[[]]},{"id":"879842ad.aa53","type":"function","z":"939e5ad0.92c238","name":"set date","func":"//var context = this.context().global;\nglobal.set('btdate', msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":495.00001525878906,"y":568.0000305175781,"wires":[[]]},{"id":"a83446f3.5607e8","type":"file in","z":"939e5ad0.92c238","name":"","filename":"","format":"utf8","x":397.96315002441406,"y":106,"wires":[["aa4b3503.2f1f78"]]},{"id":"aa4b3503.2f1f78","type":"function","z":"939e5ad0.92c238","name":"CPU Load","func":"var raws = msg.payload.split(\"\\n\");\nmsg.payload=[\t{  key: \"a1\", values: [] }, \n\t\t\t\t{  key: \"b1\", values: [] },\n\t\t\t\t{  key: \"c1\", values: [] }\n\t\t\t];\nvar cols;\nvar vals;\nvar flds;\nraws.forEach(function(ele){\n    try {\n    if (ele!==\"\"){\n        cols = ele.split(\"\\t\");\n        vals = cols[4].split(\": \");\n        flds = vals[1].split(\", \");\n        msg.payload[0].values.push([cols[0],flds[0]]);   \n        msg.payload[1].values.push([cols[0],flds[1]]);\n        msg.payload[2].values.push([cols[0],flds[2]]);\n    }\n    } catch(e){}\n});\nreturn msg;","outputs":"1","noerr":0,"x":566.963134765625,"y":106,"wires":[["106a67f4.6825b8"]]},{"id":"106a67f4.6825b8","type":"ui_chart","z":"939e5ad0.92c238","name":"history","group":"d4279975.b25cf8","order":1,"width":"18","height":"10","label":"","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":768.963134765625,"y":147,"wires":[[],[]]},{"id":"b542e1ae.584fd","type":"debug","z":"939e5ad0.92c238","name":"payloada","active":true,"console":"false","complete":"true","x":722.963134765625,"y":212.00003051757812,"wires":[]},{"id":"e97a2e5.a4de1d","type":"function","z":"939e5ad0.92c238","name":"filename","func":"//var context = this.context().global;\nvar btserver = global.get('server'); \nvar btservice = global.get('service'); \nvar btdate = global.get('btdate'); \nmsg.payload='logs/'+btserver+'/'+btservice+'.log';\nif ((btserver===null)||(btservice===null)||(btdate===null))\n    {msg.filename=null}\nelse \n    {msg.filename='logs/'+btserver+'/'+btservice+'.log'}\nreturn msg;","outputs":1,"noerr":0,"x":361.963134765625,"y":49,"wires":[["d42330f5.fe867"]]},{"id":"42c6ce29.680ae","type":"ui_button","z":"939e5ad0.92c238","name":"Display Chart","group":"459dd826.92c2a8","order":7,"width":"6","height":"1","label":"Display Chart","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"Display Chart","x":124.96311950683594,"y":48.000030517578125,"wires":[[]]},{"id":"d42330f5.fe867","type":"switch","z":"939e5ad0.92c238","name":"","property":"filename","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","outputs":1,"x":254.9630889892578,"y":106,"wires":[["a83446f3.5607e8"]]},{"id":"756f3fda.fb81","type":"ui_button","z":"939e5ad0.92c238","name":"clear item","group":"459dd826.92c2a8","order":3,"width":"6","height":"1","label":"clear item(s)","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"clear item","x":265,"y":165,"wires":[["5dad96a3.206e58"]]},{"id":"5e957f87.9a6b7","type":"ui_template","z":"939e5ad0.92c238","group":"459dd826.92c2a8","name":"","order":2,"width":"6","height":"4","format":"<div layout=”row” layout-align=”start center”>\n<span flex>Server</span>\n<span flex>Service</span>\n</div>\n<div layout=”row” layout-align=”start center” ng-repeat=”file in msg.files”>\n<span flex style=”color: black”>{{file.server}}</span>\n<span flex style=”color: black”>{{file.service}}</span>\n</div>","storeOutMessages":true,"fwdInMessages":true,"x":636,"y":265,"wires":[[]]},{"id":"5dad96a3.206e58","type":"function","z":"939e5ad0.92c238","name":"clear chart group","func":"global.set('chart',[]);\nmsg.payload=\"item cleared\";\nreturn msg;","outputs":"1","noerr":0,"x":500,"y":192,"wires":[["50af74a7.a7d11c"]]},{"id":"444d09e8.4a70f8","type":"ui_button","z":"939e5ad0.92c238","name":"Add Item","group":"459dd826.92c2a8","order":6,"width":"6","height":"1","label":"Add Item","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"Add Item","x":119,"y":336,"wires":[["a008792.236ea88"]]},{"id":"a008792.236ea88","type":"function","z":"939e5ad0.92c238","name":"add item","func":"var chart = global.get('chart');\nvar btserver = global.get('server'); \nvar btservice = global.get('service'); \nvar btdate = global.get('btdate'); \n//var file = 'logs/'+btserver+'/'+btservice+'.log';\nvar file = { server: btserver, service: btservice };\n// check if file in list\nvar flag = false;\nchart.forEach(function(item){\n    if ((item.server==file.server)&(item.service==file.service)){\n        flag=true;\n        msg.payload=\"Item already in list\";\n    }\n});\n// check if file exist\nif (flag===false) {\n//    var fs=global.get('fs');\n//    if (fs.existsSync(file)) {\n        chart.push(file);\n        global.set('chart',chart); \n        msg.payload=\"item added in list\";\n        msg.files=chart;\n//    }\n//    else{\n//        msg.payload=\"file does not exist\";\n//    }        \n}\nreturn msg;","outputs":1,"noerr":0,"x":274,"y":270,"wires":[["e7beea66.206b48","50af74a7.a7d11c"]]},{"id":"1df800f3.1a5d2f","type":"inject","z":"939e5ad0.92c238","name":"","topic":"","payload":"null","payloadType":"json","repeat":"","crontab":"","once":true,"x":134,"y":631,"wires":[["4bfdea52.595d64","ec8a9f89.fa9f6","879842ad.aa53","e354d1f2.62993"]]},{"id":"e354d1f2.62993","type":"function","z":"939e5ad0.92c238","name":"initiate items","func":"global.set('chart', []);\nreturn msg;","outputs":1,"noerr":0,"x":503,"y":628,"wires":[[]]},{"id":"e7beea66.206b48","type":"switch","z":"939e5ad0.92c238","name":"if added","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"item added in list","vt":"str"}],"checkall":"true","outputs":1,"x":461,"y":260,"wires":[["5e957f87.9a6b7","b542e1ae.584fd"]]},{"id":"50af74a7.a7d11c","type":"ui_toast","z":"939e5ad0.92c238","position":"bottom right","displayTime":"2","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"","x":690,"y":352,"wires":[]},{"id":"459dd826.92c2a8","type":"ui_group","z":"","name":"Chart Selector","tab":"caf08fa.274b67","order":1,"disp":true,"width":"6"},{"id":"d4279975.b25cf8","type":"ui_group","z":"","name":"Chart Viewer","tab":"caf08fa.274b67","order":2,"disp":true,"width":"18"},{"id":"caf08fa.274b67","type":"ui_tab","z":"","name":"Historical","icon":"dashboard"}]