conf/redflows/interaction.flow
[{"id":"d1716f3c.04337","type":"ui_template","z":"314c0ecc.ce96e2","group":"dd8318d8.a6aa28","name":"","order":2,"width":"12","height":"6","format":"<div layout=”row” layout-align=”start center”>\n<span flex>CPU Load A</span>\n<span flex>CPU Load B</span>\n<span flex>CPU Load C</span>\n</div>\n<div layout=”row” layout-align=”start center” ng-repeat=”cpuload in msg.payload.factory”>\n<span flex style=”color: green”>{{cpuload.a}}</span>\n<span flex style=”color: red”>{{cpuload.b}}</span>\n<span flex style=”color: black”>{{cpuload.c}}%</span>\n</div>","storeOutMessages":true,"fwdInMessages":true,"x":106.321044921875,"y":247.00567626953125,"wires":[[]]},{"id":"eee45e8d.7fb2d","type":"ui_audio","z":"314c0ecc.ce96e2","name":"","group":"faf32462.451618","voice":"4","x":416,"y":201,"wires":[]},{"id":"787602cf.7939ac","type":"inject","z":"314c0ecc.ce96e2","name":"sendvoice","topic":"voice","payload":"To work the dashboard web page must be open.","payloadType":"str","repeat":"","crontab":"","once":false,"x":106,"y":41,"wires":[["eee45e8d.7fb2d","4da38dc2.5e7d54"]]},{"id":"1945c2d5.5e918d","type":"ui_button","z":"314c0ecc.ce96e2","name":"","group":"faf32462.451618","order":0,"width":0,"height":0,"label":"Voice","color":"","bgcolor":"","icon":"","payload":"Clicking the button generates a message with msg.payload set to the Payload field. If no payload is specified, the node id is used.","payloadType":"str","topic":"voice","x":286,"y":295,"wires":[["c11bec35.f0d5d","eee45e8d.7fb2d"]]},{"id":"c11bec35.f0d5d","type":"ui_toast","z":"314c0ecc.ce96e2","position":"dialog","displayTime":"3","outputs":1,"ok":"OK","cancel":"Cancel","topic":"testtopic","name":"testname","x":497,"y":302,"wires":[["68bd0f9.336c5f"]]},{"id":"4da38dc2.5e7d54","type":"ui_template","z":"314c0ecc.ce96e2","group":"faf32462.451618","name":"","order":0,"width":0,"height":0,"format":"<div layout=\"row\" layout-align=\"space-between\">\n    <p>The number is</p>\n    <p ng-style=\"{color: (msg.payload || 0) % 2 === 0 ? 'green' : 'red'}\">\n        {{(msg.payload || 0) % 2 === 0 ? 'even' : 'odd'}}\n    </p>\n</div>","storeOutMessages":true,"fwdInMessages":true,"x":322,"y":41,"wires":[[]]},{"id":"68bd0f9.336c5f","type":"ui_toast","z":"314c0ecc.ce96e2","position":"top right","displayTime":"3","outputs":0,"ok":"OK","cancel":"","topic":"","name":"","x":713,"y":303,"wires":[]},{"id":"a30946a0.259b88","type":"ui_template","z":"314c0ecc.ce96e2","group":"dd8318d8.a6aa28","name":"","order":1,"width":"12","height":"6","format":"<md-button onclick=\"update()\">\n    test\n</md-button>\n<p id=\"demo\">\n    test\n</p>\n<script>\n    function update()\n    {\n        x = document.getElementById(\"demo\");\n        x.innerHTML = JSON.stringify($('msg.payload'));\n        //\"text updated\";\n    }\n</script>","storeOutMessages":true,"fwdInMessages":true,"x":108,"y":185,"wires":[[]]},{"id":"b21a7171.2759e","type":"ui_template","z":"314c0ecc.ce96e2","group":"dd8318d8.a6aa28","name":"Clock","order":4,"width":"2","height":"1","format":"<script id=\"clockScript\" type=\"text/javascript\">\n    var clockInterval;\n\n    $(function () {\n        $('#clockScript').parent().hide();\n        \n        if(clockInterval) return;\n        \n        var toolbar = $('.md-toolbar-tools');\n        var div = $('<div/>');\n        var p = $('<p/>');\n        \n        div.append(p);\n        div[0].style.margin = '5px 5px 5px auto';\n        \n        function displayTime() {\n            p.text(new Date().toLocaleString()); \n        }\n        \n        toolbar.append(div);\n        \n        clockInterval = setInterval(displayTime, 1000);\n    });\n</script>","storeOutMessages":false,"fwdInMessages":true,"x":96,"y":127,"wires":[[]]},{"id":"dd8318d8.a6aa28","type":"ui_group","z":"","name":"Gauge","tab":"573d7fbe.06433","order":1,"disp":true,"width":"24"},{"id":"faf32462.451618","type":"ui_group","z":"","name":"Default","tab":"573d7fbe.06433","order":2,"disp":true,"width":"6"},{"id":"573d7fbe.06433","type":"ui_tab","z":"","name":"Dashboard","icon":"dashboard"}]