conf/redflows/realtime.flow
[{"id":"9015751.7e3ea88","type":"ui_gauge","z":"e60c4fb.ae859b","name":"cpu load a","group":"dd8318d8.a6aa28","order":3,"width":"3","height":"3","gtype":"gage","title":"cpu load a","label":"units","format":"{{msg.payload}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"x":728,"y":153,"wires":[]},{"id":"ea829428.66d528","type":"function","z":"e60c4fb.ae859b","name":"CPU Load","func":"var ary = msg.dataarray[8].split(\", \");\nvar sary = ary[0].split(\": \");\nmsg.payload = sary[1];\nmsg.topic=msg.dataarray[1];\nreturn msg;","outputs":"1","noerr":0,"x":321.0000305175781,"y":195,"wires":[["cbc43352.3dcd9","85275829.538288","9015751.7e3ea88"]]},{"id":"513ee5e0.fe1b6c","type":"switch","z":"e60c4fb.ae859b","name":"","property":"dataarray[2]","propertyType":"msg","rules":[{"t":"eq","v":"CPU Load","vt":"str"}],"checkall":"true","outputs":1,"x":98.00001525878906,"y":248,"wires":[["ea829428.66d528"]]},{"id":"cbc43352.3dcd9","type":"debug","z":"e60c4fb.ae859b","name":"","active":true,"console":"false","complete":"true","x":630.9999847412109,"y":96,"wires":[]},{"id":"85275829.538288","type":"ui_chart","z":"e60c4fb.ae859b","name":"CPU Load","group":"883621c2.33492","order":1,"width":"24","height":"5","label":"CPU Load","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"no data","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":526,"y":195,"wires":[["3feb8635.e2a0da"],[]]},{"id":"1ccf575c.f2f2a9","type":"function","z":"e60c4fb.ae859b","name":"decode","func":"var data = new Buffer(msg.payload.data, 'base64')\nvar s = data.toString();\nvar ary = s.split(\"\\\\t\");\nmsg.payload = ary[0]+\"\\t\"+ary[4]+\"\\t\"+ary[6]+\"\\t\"+ary[7]+\"\\t\"+ary[8]+\"\\t\"+ary[9]\nmsg.dataarray = ary;\nmsg.filename = \"logs/\"+ary[1]+\"/\"+ary[2]+\".log\"\nreturn msg;","outputs":"1","noerr":0,"x":91,"y":182,"wires":[["24f1c763.53ccb8","17c19191.1b1ace","513ee5e0.fe1b6c"]]},{"id":"3feb8635.e2a0da","type":"debug","z":"e60c4fb.ae859b","name":"","active":false,"console":"false","complete":"topic","x":723.0000610351562,"y":241,"wires":[]},{"id":"da3d6d96.369df","type":"http in","z":"e60c4fb.ae859b","name":"nagios","url":"/nagios","method":"get","swaggerDoc":"","x":73.00001525878906,"y":25,"wires":[["1ccf575c.f2f2a9","bcf401d2.2290d"]]},{"id":"24f1c763.53ccb8","type":"debug","z":"e60c4fb.ae859b","name":"","active":false,"console":"false","complete":"dataarray[2]","x":337.9999542236328,"y":67,"wires":[]},{"id":"17c19191.1b1ace","type":"file","z":"e60c4fb.ae859b","name":"write into individual log","filename":"","appendNewline":false,"createDir":true,"overwriteFile":"false","x":348,"y":111,"wires":[]},{"id":"bcf401d2.2290d","type":"function","z":"e60c4fb.ae859b","name":"response OK","func":"msg.payload=\"OK\"\nreturn msg;","outputs":1,"noerr":0,"x":291.00001525878906,"y":25,"wires":[["fd32aa2b.541228"]]},{"id":"fd32aa2b.541228","type":"http response","z":"e60c4fb.ae859b","name":"response","x":631,"y":24,"wires":[]},{"id":"dd8318d8.a6aa28","type":"ui_group","z":"","name":"Gauge","tab":"573d7fbe.06433","order":1,"disp":true,"width":"24"},{"id":"883621c2.33492","type":"ui_group","z":"","name":"twmserver1","tab":"55fccbfe.6a1db4","order":1,"disp":false,"width":"24"},{"id":"573d7fbe.06433","type":"ui_tab","z":"","name":"Dashboard","icon":"dashboard"},{"id":"55fccbfe.6a1db4","type":"ui_tab","z":"","name":"Treands","icon":"dashboard"}]