conf/redflows/reporter
[{"id":"91dbf11.515371","type":"function","z":"9098e4e8.3de778","name":"Generate Chart","func":"var baseline = global.get('baseline');\nvar testcase = global.get('testcase'); \nmsg.payload=[];\nbaseline.forEach(function(base){\n    msg.payload.push(\n        { key: \"BASE-\"+base.metric.exported_instance, values: base.values  }) ;\n});\n\ntestcase.forEach(function(tc){\n    msg.payload.push(\n        { key: \"TEST-\"+tc.metric.exported_instance, values: tc.values  }) ;\n});\n    \n/*\nmsg.payload=[\t{  key: \"baseline-\"+baseline[0].metric.exported_instance, values: baseline[0].values }, \n\t\t\t\t{  key: \"baseline-\"+baseline[1].metric.exported_instance, values: baseline[1].values },\n\t\t\t\t{  key: \"baseline-\"+baseline[2].metric.exported_instance, values: baseline[2].values },\n\t\t\t\t{  key: \"testcase-\"+testcase[0].metric.exported_instance, values: testcase[0].values }, \n\t\t\t\t{  key: \"testcase-\"+testcase[1].metric.exported_instance, values: testcase[1].values },\n\t\t\t\t{  key: \"testcase-\"+testcase[2].metric.exported_instance, values: testcase[2].values }\n\t\t\t];\n*/\nvar delta=testcase[0].values[0][0]-baseline[0].values[0][0];\ntestcase.forEach(function(tc){\n    tc.values.forEach(function(ele){\n        ele[0]-=delta;\n        ele[0]=ele[0]*1000;\n     });\n });\n baseline.forEach(function(base){\n    base.values.forEach(function(ele){\n        ele[0]=ele[0]*1000;\n     });\n });\nreturn msg;","outputs":"1","noerr":0,"x":783.000129699707,"y":627.0001926422119,"wires":[["561d8b18.a7b824","c2a54908.78c268"]]},{"id":"561d8b18.a7b824","type":"ui_chart","z":"9098e4e8.3de778","name":"Test Report","group":"8ff43c70.b2723","order":1,"width":"0","height":"0","label":"PaulTest","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":1051.0002059936523,"y":704.0001573562622,"wires":[[],[]]},{"id":"c2c510b0.575b8","type":"file in","z":"9098e4e8.3de778","name":"","filename":"","format":"utf8","x":596.0002326965332,"y":330.00003147125244,"wires":[["e3004bf6.7e99d8"]]},{"id":"e3004bf6.7e99d8","type":"function","z":"9098e4e8.3de778","name":"set baseline","func":"var metrics = global.get('metrics');\nvar raws = msg.payload.split(metrics+\" begin\");\nvar dataset = JSON.parse(raws[1].split(metrics+\" end\")[0]);\nmsg.payload=dataset.data.result;\nglobal.set('baseline', msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":786.0003089904785,"y":330.0000190734863,"wires":[["6d98a24e.ca1e5c","a70ac206.ae011"]]},{"id":"7882906.5f2687","type":"ui_button","z":"9098e4e8.3de778","name":"Display Chart","group":"dcd7b8da.2fdd58","order":6,"width":"6","height":"1","passthru":false,"label":"Display Chart","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"Display Chart","x":120.9999942779541,"y":328.00009059906006,"wires":[["4e8fa3c4.cf81bc"]]},{"id":"d85f3a03.d78228","type":"function","z":"9098e4e8.3de778","name":"set testcase","func":"var metrics = global.get('metrics');\nvar raws = msg.payload.split(metrics+\" begin\");\nvar dataset = JSON.parse(raws[1].split(metrics+\" end\")[0]);\nmsg.payload=dataset.data.result;\nglobal.set('testcase', msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":767.0002098083496,"y":479.00006771087646,"wires":[["6a49fd9a.6ebde4","91dbf11.515371"]]},{"id":"efd5abc9.d18108","type":"file in","z":"9098e4e8.3de778","name":"","filename":"","format":"utf8","x":594.0002098083496,"y":483.00005531311035,"wires":[["d85f3a03.d78228"]]},{"id":"6d98a24e.ca1e5c","type":"debug","z":"9098e4e8.3de778","name":"baseline data","active":true,"console":"false","complete":"payload","x":1033.0002250671387,"y":326.00002670288086,"wires":[]},{"id":"6a49fd9a.6ebde4","type":"debug","z":"9098e4e8.3de778","name":"testcase data","active":true,"console":"false","complete":"payload","x":1050.0003204345703,"y":482.00024235248566,"wires":[]},{"id":"c2a54908.78c268","type":"debug","z":"9098e4e8.3de778","name":"chart","active":true,"console":"false","complete":"payload","x":1031.0001411437988,"y":626.0002789497375,"wires":[]},{"id":"245d50e9.53c8f","type":"ui_dropdown","z":"9098e4e8.3de778","name":"Metrics","label":"Select Metrics","place":"Select option","group":"dcd7b8da.2fdd58","order":1,"width":"6","height":"1","passthru":true,"options":[{"label":"system.cpu","value":"system_cpu_utilization","type":"str"},{"label":"system.ram","value":"system_ram_utilization","type":"str"},{"label":"system_load1","value":"system_load_load1","type":"str"},{"label":"system_load5","value":"system_load_load5","type":"str"},{"label":"system_load15","value":"system_load_load15","type":"str"},{"label":"system_swap","value":"system_swap_utilization","type":"str"},{"label":"disk_io_out","value":"system_io_out","type":"str"},{"label":"disk_io_in","value":"system_io_in","type":"str"}],"payload":"","topic":"","x":106.64064025878906,"y":234.53524684906006,"wires":[["442135dc.ff3e2c"]]},{"id":"442135dc.ff3e2c","type":"function","z":"9098e4e8.3de778","name":"set testcase","func":"global.set('metrics', msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":342.76564025878906,"y":237.75006198883057,"wires":[[]]},{"id":"7603be42.89ba4","type":"function","z":"9098e4e8.3de778","name":"set testname","func":"global.set('testname', msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1280.7657852172852,"y":145.75004196166992,"wires":[[]]},{"id":"d42e61fd.d8d4","type":"ui_dropdown","z":"9098e4e8.3de778","name":"Baseline","label":"Baseline","place":"Select option","group":"dcd7b8da.2fdd58","order":3,"width":"6","height":"1","passthru":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":1089.765781402588,"y":56.00008678436279,"wires":[["458bdb62.653184"]]},{"id":"5d95cd88.69c3b4","type":"ui_dropdown","z":"9098e4e8.3de778","name":"TestCase","label":"Test Case","place":"Select option","group":"dcd7b8da.2fdd58","order":5,"width":"6","height":"1","passthru":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":1079.7657432556152,"y":146.00011444091797,"wires":[["7603be42.89ba4"]]},{"id":"458bdb62.653184","type":"function","z":"9098e4e8.3de778","name":"set testcase","func":"global.set('basename', msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1293.7657852172852,"y":55.000020027160645,"wires":[[]]},{"id":"52a6e291.1eb72c","type":"ui_dropdown","z":"9098e4e8.3de778","name":"Baseline Class","label":"Baseline Class","place":"Select option","group":"dcd7b8da.2fdd58","order":2,"width":"6","height":"1","passthru":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":607.7656555175781,"y":56.750064849853516,"wires":[["7bac72f9.fc589c"]]},{"id":"c07bb242.5f34c","type":"ui_dropdown","z":"9098e4e8.3de778","name":"Test Case Class","label":"Test Case Class","place":"Select option","group":"dcd7b8da.2fdd58","order":4,"width":"6","height":"1","passthru":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":607.7656555175781,"y":133.75001335144043,"wires":[["84b8a6eb.aa5278"]]},{"id":"21851807.e0a428","type":"function","z":"9098e4e8.3de778","name":"create Claases","func":"var fs = context.global.fs;\nvar path = context.global.path;\nmsg.options=[];\nfs.readdirSync(\"/home/vagrant/metrics/\").forEach(file => {\n  msg.options.push(file) ;\n});\nreturn msg;","outputs":1,"noerr":0,"x":342.765625,"y":99.7500581741333,"wires":[["52a6e291.1eb72c","c07bb242.5f34c"]]},{"id":"29c84278.2f1b7e","type":"inject","z":"9098e4e8.3de778","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":122.640625,"y":103.19533824920654,"wires":[["21851807.e0a428"]]},{"id":"7bac72f9.fc589c","type":"function","z":"9098e4e8.3de778","name":"create Claases","func":"var fs = context.global.fs;\nvar path = context.global.path;\nvar seldir = \"/home/vagrant/metrics/\"+msg.payload;\nmsg.options=[];\nfs.readdirSync(seldir).forEach(file => {\n  filepath=path.join(seldir,file);\n  var option = {};\n  option[file] = filepath;\n  //option=\"{ \\\"\"+file+\"\\\":\\\"\"+filepath+\"\\\"}\";\n  msg.options.push(option) ;\n});\nreturn msg;","outputs":1,"noerr":0,"x":863.765754699707,"y":54.75000762939453,"wires":[["d42e61fd.d8d4"]]},{"id":"84b8a6eb.aa5278","type":"function","z":"9098e4e8.3de778","name":"create Claases","func":"var fs = context.global.fs;\nvar path = context.global.path;\nvar seldir = \"/home/vagrant/metrics/\"+msg.payload;\nmsg.options=[];\nfs.readdirSync(seldir).forEach(file => {\n  filepath=path.join(seldir,file);\n  var option = {};\n  option[file] = filepath;\n  // option=\"{\\\"\"+file+\"\\\":\\\"\"+file+\"\\\"\"}\";\n  msg.options.push(option) ;\n});\nreturn msg;","outputs":1,"noerr":0,"x":851.7656936645508,"y":143.75001525878906,"wires":[["5d95cd88.69c3b4"]]},{"id":"4e8fa3c4.cf81bc","type":"function","z":"9098e4e8.3de778","name":"set testcase","func":"msg.filename = global.get('basename');\nreturn msg;","outputs":1,"noerr":0,"x":365.7656555175781,"y":331.75001335144043,"wires":[["c2c510b0.575b8"]]},{"id":"a70ac206.ae011","type":"function","z":"9098e4e8.3de778","name":"set testname","func":"msg.filename = global.get('testname');\nreturn msg;","outputs":1,"noerr":0,"x":355.7656898498535,"y":487.5000295639038,"wires":[["efd5abc9.d18108"]]},{"id":"8ff43c70.b2723","type":"ui_group","z":"","name":"Report","tab":"2366393b.da32b6","order":2,"disp":true,"width":"24"},{"id":"dcd7b8da.2fdd58","type":"ui_group","z":"","name":"Selection","tab":"2366393b.da32b6","order":1,"disp":true,"width":"6"},{"id":"2366393b.da32b6","type":"ui_tab","z":"","name":"TEST","icon":"dashboard"}]