conf/redflows/reserved.flow
[{"id":"6d5381e.525b78","type":"http in","z":"8bbf1ac8.db44b8","name":"nagios","url":"/nagios_reserve","method":"get","swaggerDoc":"","x":70,"y":210,"wires":[["707f91e8.e5e1d","53bb3782.dd5a98"]]},{"id":"707f91e8.e5e1d","type":"function","z":"8bbf1ac8.db44b8","name":"decode","func":"var data = new Buffer(msg.payload.data, 'base64')\nvar s = data.toString();\nvar ary = s.split(\"\\\\t\");\nmsg.payload = ary[0]+\"\\t\"+ary[4]+\"\\t\"+ary[6]+\"\\t\"+ary[7]+\"\\t\"+ary[8]+\"\\t\"+ary[9]\nmsg.dataarray = ary;\nmsg.filename = \"logs/\"+ary[1]+\"/\"+ary[2]+\".log\"\nreturn msg;","outputs":"1","noerr":0,"x":267,"y":211,"wires":[["f858a058.62323","a316059f.b3ce18","f62f4d63.f4c4f"]]},{"id":"a316059f.b3ce18","type":"file","z":"8bbf1ac8.db44b8","name":"write into individual log","filename":"","appendNewline":false,"createDir":true,"overwriteFile":"false","x":440,"y":38,"wires":[]},{"id":"32fb3403.67f47c","type":"http response","z":"8bbf1ac8.db44b8","name":"response","x":411,"y":496,"wires":[]},{"id":"53bb3782.dd5a98","type":"function","z":"8bbf1ac8.db44b8","name":"response OK","func":"msg.payload=\"OK\"\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":429,"wires":[["32fb3403.67f47c"]]},{"id":"f858a058.62323","type":"debug","z":"8bbf1ac8.db44b8","name":"","active":false,"console":"false","complete":"dataarray[2]","x":292,"y":337,"wires":[]},{"id":"f62f4d63.f4c4f","type":"switch","z":"8bbf1ac8.db44b8","name":"","property":"msg.dataarray[2]","propertyType":"msg","rules":[{"t":"eq","v":"CPU Load","vt":"str"}],"checkall":"true","outputs":1,"x":419,"y":121,"wires":[["42d01f83.888b7"]]},{"id":"42d01f83.888b7","type":"function","z":"8bbf1ac8.db44b8","name":"CPU Load","func":"var ary = msg.dataarray[8].split(\", \");\nvar sary = ary[0].split(\": \");\nvar msg1 = {payload: sary[1], topic: \"a\"};\nvar msg2 = {payload: ary[1], topic: \"b\"};\nvar msg3 = {payload: ary[2], topic: \"c\"};\nreturn [msg1,msg2,msg3];","outputs":"3","noerr":0,"x":585,"y":122,"wires":[["bd51ed1b.ecdb5"],[],[]]},{"id":"bd51ed1b.ecdb5","type":"debug","z":"8bbf1ac8.db44b8","name":"","active":false,"console":"false","complete":"true","x":840,"y":59,"wires":[]}]