conf/red/newlog
[{"id":"754fe79a.4156e8","type":"function","z":"39f92a19.92d546","name":"List Path","func":"var fs = context.global.fs;\nmsg.payload=[];\nfs.readdirSync(\"/home/vagrant/metrics\").forEach(p => {\n      fs.readdirSync(\"/home/vagrant/metrics/\"+p)\n        .filter(function(file) { return file.substr(-4) === '.log'; })\n        .forEach(file => {\n      msg.payload.push(p+\"/\"+file) ;\n    });\n});\nreturn msg;","outputs":1,"noerr":0,"x":237.7656707763672,"y":79.75004863739014,"wires":[["99ddb11c.bee3f"]]},{"id":"e237b589.17c4c8","type":"function","z":"39f92a19.92d546","name":"I++","func":"if ( (msg.i += 1) < msg.Files.length ) return msg;\n","outputs":1,"noerr":0,"x":558.7656784057617,"y":409.7501029968262,"wires":[["99ddb11c.bee3f","ced0993c.138dd8"]]},{"id":"99ddb11c.bee3f","type":"function","z":"39f92a19.92d546","name":"for each item","func":"if( msg.i     === undefined ) msg.i = 0;\nif( msg.Files === undefined ) msg.Files = msg.payload;\n\nmsg.filename = \"/home/vagrant/metrics/\"+msg.Files[ msg.i ];\n\nreturn msg;","outputs":1,"noerr":0,"x":391.7657470703125,"y":148.75007820129395,"wires":[["253eab7e.ddf754","9d2f9944.839f28"]]},{"id":"ced0993c.138dd8","type":"debug","z":"39f92a19.92d546","name":"","active":false,"console":"false","complete":"Files.length","x":820.6250038146973,"y":410.0312957763672,"wires":[]},{"id":"899b125c.29b3a","type":"ui_button","z":"39f92a19.92d546","name":"Generate Script","group":"68709c34.09c544","order":3,"width":"6","height":"1","passthru":false,"label":"Generate Script","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"Display Chart","x":124.76567077636719,"y":145.75004601478577,"wires":[["754fe79a.4156e8"]]},{"id":"253eab7e.ddf754","type":"file in","z":"39f92a19.92d546","name":"","filename":"","format":"utf8","x":589.6329956054688,"y":170.77748250961304,"wires":[["cb76a574.2b7008","3113f432.751afc"]]},{"id":"3113f432.751afc","type":"debug","z":"39f92a19.92d546","name":"content","active":false,"console":"false","complete":"payload","x":794.765625,"y":50.75000476837158,"wires":[]},{"id":"cb76a574.2b7008","type":"function","z":"39f92a19.92d546","name":"form request","func":"var raw = msg.payload.split(\"Test Case \")[1];\nvar tit = raw.split(\"\\n\\nBegin from\")[0];\nvar raw = msg.payload.split(\"Begin from\\t\")[1];\nvar ts1 = raw.split(\"\\nEnd at\")[0];\nvar raw = msg.payload.split(\"End at\\t\\t\")[1];\nvar ts2 = raw.split(\"\\n\\nData From JMeter\")[0];\nmsg.payload=\"bash /home/vagrant/GetTestLog.sh -p 192.168.1.22:9090 -s 5 -n \"+tit+\" -b \"+ts1+\" -e \"+ts2+\" >> test.sh\";\nreturn msg;","outputs":1,"noerr":0,"x":795.7656631469727,"y":164.75002193450928,"wires":[["94744c98.7dca2","85273491.797d58"]]},{"id":"85273491.797d58","type":"exec","z":"39f92a19.92d546","command":"echo ","addpay":true,"append":"","useSpawn":"","timer":"","name":"GetTestResult","x":731.625,"y":269.86328887939453,"wires":[["67b62690.3d4d48","e237b589.17c4c8"],["60d997df.b60b68"],[]]},{"id":"60d997df.b60b68","type":"debug","z":"39f92a19.92d546","name":"error","active":false,"console":"false","complete":"true","x":994.7656364440918,"y":294.75000762939453,"wires":[]},{"id":"67b62690.3d4d48","type":"debug","z":"39f92a19.92d546","name":"stdoutput","active":false,"console":"false","complete":"true","x":995.7656402587891,"y":230.75001335144043,"wires":[]},{"id":"9d2f9944.839f28","type":"debug","z":"39f92a19.92d546","name":"","active":false,"console":"false","complete":"true","x":566.765625,"y":113.75,"wires":[]},{"id":"94744c98.7dca2","type":"debug","z":"39f92a19.92d546","name":"argument","active":false,"console":"false","complete":"payload","x":1002.765625,"y":120.75,"wires":[]},{"id":"68709c34.09c544","type":"ui_group","z":"","name":"Recreate Log Data Batch Script","tab":"445f5633.29b158","order":3,"disp":true,"width":"10"},{"id":"445f5633.29b158","type":"ui_tab","z":"","name":"Script Console","icon":"dashboard"}]
