conf/red/report
[{"id":"561d8b18.a7b824","type":"ui_chart","z":"9098e4e8.3de778","name":"Test Report","group":"8ff43c70.b2723","order":2,"width":"24","height":"12","label":"","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"Please Use Selector to Display Chart","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"colors":["#000000","#ff8000","#0000ff","#ff0000","#0080c0","#008000","#ff0080","#8080ff","#400000"],"x":1037.0003967285156,"y":666.0001430511475,"wires":[[],[]]},{"id":"7882906.5f2687","type":"ui_button","z":"9098e4e8.3de778","name":"Display Chart","group":"992fd80d.ab9108","order":2,"width":"5","height":"1","passthru":false,"label":"Display Chart","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"Display Chart","x":131.00003814697266,"y":474.0001595020294,"wires":[["4531e81d.cd4f78"]]},{"id":"245d50e9.53c8f","type":"ui_dropdown","z":"9098e4e8.3de778","name":"Metrics","label":"Metrics","place":"Select option","group":"f8dd0f91.859f","order":1,"width":"8","height":"1","passthru":true,"options":[{"label":"system.cpu","value":"system_cpu_utilization","type":"str"},{"label":"system.ram","value":"system_ram_utilization","type":"str"},{"label":"system_load1","value":"system_load_load1","type":"str"},{"label":"system_load5","value":"system_load_load5","type":"str"},{"label":"system_load15","value":"system_load_load15","type":"str"},{"label":"system_swap","value":"system_swap_utilization","type":"str"},{"label":"disk_io_out","value":"system_io_out","type":"str"},{"label":"disk_io_in","value":"system_io_in","type":"str"}],"payload":"","topic":"","x":98.6406478881836,"y":122.53525638580322,"wires":[["442135dc.ff3e2c"]]},{"id":"442135dc.ff3e2c","type":"function","z":"9098e4e8.3de778","name":"set testcase","func":"global.set('metrics', msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":334.7656478881836,"y":125.75007152557373,"wires":[[]]},{"id":"7603be42.89ba4","type":"function","z":"9098e4e8.3de778","name":"set testname","func":"global.set('testname', msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1202.7657852172852,"y":209.7500820159912,"wires":[[]]},{"id":"5d95cd88.69c3b4","type":"ui_dropdown","z":"9098e4e8.3de778","name":"TestCase","label":"Case","place":"Select option","group":"f8dd0f91.859f","order":4,"width":"8","height":"1","passthru":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":1012.7657775878906,"y":202.00015830993652,"wires":[["7603be42.89ba4"]]},{"id":"c07bb242.5f34c","type":"ui_dropdown","z":"9098e4e8.3de778","name":"Test Case Class","label":"Class","place":"Select option","group":"f8dd0f91.859f","order":3,"width":"8","height":"1","passthru":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":590.7656707763672,"y":207.7500514984131,"wires":[["84b8a6eb.aa5278"]]},{"id":"21851807.e0a428","type":"function","z":"9098e4e8.3de778","name":"create Claases","func":"var fs = context.global.fs;\nvar path = context.global.path;\nmsg.options=[];\nfs.readdirSync(\"/home/vagrant/metrics/\").forEach(file => {\n  msg.options.push(file) ;\n});\nreturn msg;","outputs":1,"noerr":0,"x":360.7656478881836,"y":201.7500877380371,"wires":[["c07bb242.5f34c"]]},{"id":"29c84278.2f1b7e","type":"inject","z":"9098e4e8.3de778","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":128.64063262939453,"y":201.19536972045898,"wires":[["21851807.e0a428","b178706c.dda0e"]]},{"id":"84b8a6eb.aa5278","type":"function","z":"9098e4e8.3de778","name":"create Claases","func":"var fs = context.global.fs;\nvar path = context.global.path;\nvar seldir = \"/home/vagrant/metrics/\"+msg.payload;\nglobal.set('testclass', msg.payload);\nmsg.options=[];\nfs.readdirSync(seldir)\n  .filter(function(file) { return file.substr(-4) != '.log'; })\n  .forEach(file => {\n      /*\n  filepath=path.join(seldir,file);\n  var option = {};\n  option[file] = filepath;\n  // option=\"{\\\"\"+file+\"\\\":\\\"\"+file+\"\\\"\"}\";\n  msg.options.push(option) ;\n  */\n  msg.options.push(file) ;\n});\nreturn msg;","outputs":1,"noerr":0,"x":808.7657089233398,"y":205.7500514984131,"wires":[["5d95cd88.69c3b4"]]},{"id":"d193bce2.4480a","type":"ui_template","z":"9098e4e8.3de778","group":"992fd80d.ab9108","name":"Case List","order":1,"width":"9","height":"5","format":"<div layout=”row” layout-align=”start center”>\n<span flex>Class</span>\n<span flex>Test Case</span>\n</div>\n<div layout=”row” layout-align=”start center” ng-repeat=\"test in msg.payload.factory\">\n<span flex style=”color: green”>{{test.class}}</span>\n<span flex style=”color: black”>{{test.name}}</span>\n</div>","storeOutMessages":false,"fwdInMessages":false,"x":495.2499694824219,"y":322.03016662597656,"wires":[[]]},{"id":"c55724c2.43d718","type":"ui_button","z":"9098e4e8.3de778","name":"Add Case","group":"f8dd0f91.859f","order":5,"width":"4","height":"1","passthru":false,"label":"Add Case","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":114.38887786865234,"y":405.555570602417,"wires":[["af78d022.225d2"]]},{"id":"af78d022.225d2","type":"function","z":"9098e4e8.3de778","name":"add test","func":"testlist = global.get('testlist');\ntestcount = global.get('testcount');\nvar object = {};\nobject[\"class\"]= global.get('testclass');\nobject[\"name\"]= global.get('testname');\ntestlist.factory[\"test0\"+testcount]=object;\ntestcount++;\nglobal.set('testlist',testlist);\nglobal.set('testcount', testcount);\nmsg.payload = testlist;\nreturn msg;","outputs":1,"noerr":0,"x":295.0130157470703,"y":406.01037406921387,"wires":[["d193bce2.4480a","c53e3e1e.77b4"]]},{"id":"41068c1.4aa6574","type":"ui_button","z":"9098e4e8.3de778","name":"Clear Case","group":"f8dd0f91.859f","order":6,"width":"4","height":"1","passthru":false,"label":"Clear List","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":114.01302337646484,"y":302.0104179382324,"wires":[["b178706c.dda0e"]]},{"id":"b178706c.dda0e","type":"function","z":"9098e4e8.3de778","name":"Clear List","func":"var testlist = { factory:{}};\nglobal.set('testlist', testlist);\nglobal.set('testcount', 0);\nmsg.payload=testlist;\nreturn msg;","outputs":1,"noerr":0,"x":294.01302337646484,"y":295.0103931427002,"wires":[["d193bce2.4480a"]]},{"id":"c53e3e1e.77b4","type":"debug","z":"9098e4e8.3de778","name":"testlist","active":false,"console":"false","complete":"payload","x":465.99998474121094,"y":380.3333110809326,"wires":[]},{"id":"4531e81d.cd4f78","type":"function","z":"9098e4e8.3de778","name":"List Path","func":"testlist = global.get('testlist');\ntestcount = global.get('testcount');\nmsg.payload=[];\nmsg.testdata=[];\nfor (i = 0; i < testcount; i++) { \n    msg.payload.push(testlist.factory[\"test0\"+i]);\n}\nreturn msg;","outputs":1,"noerr":0,"x":312.0000305175781,"y":484.3333282470703,"wires":[["c6454a84.c38e78"]]},{"id":"c6454a84.c38e78","type":"function","z":"9098e4e8.3de778","name":"for each item","func":"if( msg.i     === undefined ) msg.i = 0;\nif( msg.Files === undefined ) msg.Files = msg.payload;\nmsg.filename = \"/home/vagrant/metrics/\"+msg.Files[msg.i].class+\"/\"+msg.Files[msg.i].name;\nreturn msg;","outputs":1,"noerr":0,"x":532.0001373291016,"y":484.33339500427246,"wires":[["25d6a7bd.cb5208","9b06fc97.16d85"]]},{"id":"25d6a7bd.cb5208","type":"file in","z":"9098e4e8.3de778","name":"","filename":"","format":"utf8","x":703.0000801086426,"y":485.6667642593384,"wires":[["53381c33.2e5844"]]},{"id":"53381c33.2e5844","type":"function","z":"9098e4e8.3de778","name":"set testcase","func":"var metrics = global.get('metrics');\nvar raws = msg.payload.split(metrics+\" begin\");\nvar rawdata = JSON.parse(raws[1].split(metrics+\" end\")[0]);\nvar dataset = rawdata.data.result;\ndataset.forEach(function(instance){\n    instance[\"name\"]=msg.Files[msg.i].name;\n});\nmsg.testdata.push(dataset);\n//msg.testdata.push(rawdata.data.result);\n//global.set('testcase', msg.payload);\nmsg.i+=1;\nreturn msg;","outputs":1,"noerr":0,"x":875.0001449584961,"y":495.6667642593384,"wires":[["621c347.3263dcc","2dc104ac.7405dc"]]},{"id":"2dc104ac.7405dc","type":"switch","z":"9098e4e8.3de778","name":"end","property":"i","propertyType":"msg","rules":[{"t":"lt","v":"Files.length","vt":"msg"},{"t":"else"}],"checkall":"true","outputs":2,"x":559.3889961242676,"y":660.6667098999023,"wires":[["c6454a84.c38e78"],["52a3cf9.c15f33","f1031be9.a34f18"]]},{"id":"52a3cf9.c15f33","type":"function","z":"9098e4e8.3de778","name":"Generate Chart","func":"var instance = global.get('instance');\nvar ts_satrt=new Date().getTime();\nvar skey = \"\";\nmsg.payload=[];\nmsg.testdata.forEach(function(test){\n    test.forEach(function(inst){\n        if ((inst.metric.exported_instance==instance)||(instance==\"all\")){\n            if (instance==\"all\") {\n                skey = inst.name + \"-\"+ inst.metric.exported_instance;\n            } else {\n                skey = inst.name;\n            }\n            msg.payload.push({ key: skey , values: inst.values  }) ;\n            if (ts_satrt>inst.values[0][0]){\n                ts_satrt=inst.values[0][0];\n            }\n        }\n    });\n});\nmsg.testdata.forEach(function(test){\n    test.forEach(function(inst){\n        if ((inst.metric.exported_instance==instance)||(instance==\"all\")){\n            if (ts_satrt<inst.values[0][0]){\n                var delta=inst.values[0][0]-ts_satrt;\n                inst.values.forEach(function(ele){\n                    ele[0]-=delta;\n                    ele[0]=ele[0]*1000;\n                    ele[1]=Number(ele[1]).toFixed(3);\n                 });\n            }\n            else\n            {\n                inst.values.forEach(function(ele){\n                    ele[0]=ele[0]*1000;\n                    ele[1]=Number(ele[1]).toFixed(3);\n                 });\n                \n            }\n        }\n    });\n});\nreturn msg;","outputs":"1","noerr":0,"x":780.0002059936523,"y":668.333215713501,"wires":[["561d8b18.a7b824","ce6543d.50a00c"]]},{"id":"621c347.3263dcc","type":"debug","z":"9098e4e8.3de778","name":"step2","active":false,"console":"false","complete":"true","x":1082.0002098083496,"y":488.3335084915161,"wires":[]},{"id":"ce6543d.50a00c","type":"debug","z":"9098e4e8.3de778","name":"step3","active":false,"console":"false","complete":"true","x":1042.0002746582031,"y":541.3333559036255,"wires":[]},{"id":"9b06fc97.16d85","type":"debug","z":"9098e4e8.3de778","name":"step1","active":false,"console":"false","complete":"true","x":706.0000801086426,"y":404.3333911895752,"wires":[]},{"id":"d6cc80f0.e4067","type":"ui_dropdown","z":"9098e4e8.3de778","name":"Select Instance","label":"Instance","place":"Select Instance","group":"f8dd0f91.859f","order":2,"width":"8","height":"1","passthru":false,"options":[{"label":"","value":"kkc1","type":"str"},{"label":"","value":"kkc2","type":"str"},{"label":"","value":"kkc3","type":"str"},{"label":"","value":"all","type":"str"}],"payload":"","topic":"","x":119.01303100585938,"y":59.01043128967285,"wires":[["3c9236de.22275a"]]},{"id":"3c9236de.22275a","type":"function","z":"9098e4e8.3de778","name":"set instance","func":"global.set('instance', msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":337.01306915283203,"y":55.01044273376465,"wires":[[]]},{"id":"f1031be9.a34f18","type":"function","z":"9098e4e8.3de778","name":"assign title","func":"msg.payload =  \"Instance: \"+global.get('instance')+\", Metrics: \"+ global.get('metrics');\nreturn msg;","outputs":1,"noerr":0,"x":785.0000991821289,"y":611.000093460083,"wires":[["4867875f.ea6cd8"]]},{"id":"4867875f.ea6cd8","type":"ui_template","z":"9098e4e8.3de778","group":"8ff43c70.b2723","name":"Title","order":1,"width":"24","height":"3","format":"<div layout=”row” layout-align=”start center” style=\"text-align: center;\nvertical-align: left; font-size: 28px; color: white\">\n<span flex>.</span>\n</div>\n<div layout=”row” layout-align=”start center” style=\"text-align: center;\nvertical-align: left; font-size: 28px; color: white\">\n<span flex>.</span>\n</div>\n<div layout=”row” layout-align=”start center” style=\"text-align: center;\nvertical-align: middle; font-size: 28px; color: black\">\n<span flex style=”color: black”>{{msg.payload}}</span>\n</div>","storeOutMessages":false,"fwdInMessages":false,"x":1016.6667213439941,"y":607.3333311080933,"wires":[[]]},{"id":"8ff43c70.b2723","type":"ui_group","z":"","name":"Report","tab":"2366393b.da32b6","order":1,"disp":false,"width":"24"},{"id":"992fd80d.ab9108","type":"ui_group","z":"","name":"Case List","tab":"5290c5da.e7ed9c","order":2,"disp":true,"width":"13"},{"id":"f8dd0f91.859f","type":"ui_group","z":"","name":"Selector","tab":"5290c5da.e7ed9c","order":1,"disp":true,"width":"10"},{"id":"2366393b.da32b6","type":"ui_tab","z":"","name":"Report Console","icon":"dashboard"},{"id":"5290c5da.e7ed9c","type":"ui_tab","z":"","name":"Selector Console","icon":"dashboard"}]
